.loginfield
  .loginfield__main
    .loginfield__main__logintop
      新規登録
    .loginfield__main__loginform
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .loginfield__main__loginform__field
          = f.label :nickname,class: "label"
          %br/
          = f.text_field :nickname, autofocus: true
        .loginfield__main__loginform__field
          = f.label :email,class: "label"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",class: "label"
        .loginfield__main__loginform__field
          = f.label :password,class: "label"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password",class: "label"
        .loginfield__main__loginform__field
          = f.label :password_confirmation,class: "label"
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .loginfield__main__loginform__actions
          = f.submit "Sign up", class:"btn-flat-border"
    .loginfield__main__login__bottom
    = render "devise/shared/links"
