!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title TodoNewApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.header
      .header__title
        = link_to "To-Do App", root_path, class: "header__title--text"
      .header__right
        - if user_signed_in?
          = link_to current_user.nickname, user_path(current_user), class: "header__right--btn"
          = link_to "新規投稿", new_post_path, class: "header__right--btn"
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
        - else
          = link_to "ログイン", new_user_session_path, class: "header__right--btn"
          = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
    .contents{ id: "posts_list"}
      = yield
